<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"
    integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="content-side-left"></div>
      <div class="content-wrapper" id="content">
        {% if page.title %}
        <h1>{{ page.title | escape}}</h1>
        {% endif %}
        {{ content }}
      </div>
      <div class="content-side-right">
        <div class="toc" id="toc">
          <h2>Table of Content</h2>
        </div>
      </div>
    </main>

    {% if page.comments %}
    <div class="page-comment">
      <div id="disqus_thread"></div>
    </div>
    <script>
      var disqus_config = function () {
        this.page.url = "{{site.url}}{{site.baseurl}}{{ page.url }}";
        this.page.identifier = "{{ page.url }}";
      };
      (function() {
        var d = document, s = d.createElement('script');
        s.src = 'https://fbxiang.disqus.com/embed.js';
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    {% endif %}
    {% include footer.html %}

  </body>

  <script>
    var toc = $('#toc');
    var count = 0;
    $('#content').find('h2,h3,h4').each(function(i,l) {
      var h = $(l);
      console.log;
      var id = "title_" + count++;
      h.attr('id', id);
      toc.append($('<a/>')
          .attr('href', '#'+id)
          .text(h.text())
          .css('margin-left', (Number(h[0].nodeName[1])-2) * 10 + 'px')
        );
    });
  </script>
</html>
