<html lang="{{ page.lang | default: site.lang | default: "en" }}">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
  integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
  crossorigin="anonymous"></script>
  {% include head.html %}

  <body>

    {% include header.html %}

    <main class="page-content" aria-label="Content">
      <div class="content-side-left"></div>
      <div class="content-wrapper" id="content">
        {% if page.title %}
        <h1>{{ page.title | escape}}</h1>
        {% endif %}
        {{ content }}
      </div>
      <div class="content-side-right"></div>
    </main>

    {% include footer.html %}

  </body>

</html>
