body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  overflow-x: auto;
  background-color: #EAF2F7;
  padding: 10px;
}

code {
  background-color: #EEEEFF;
  padding: 1px 5px;
  margin: 0.2em;
  border-radius: 3px;
}
