@import "variables";

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 12pt;
}

a {
  text-decoration: none;
  color: inherit;
}

pre {
  overflow-x: auto;
  background-color: #EAF2F7;
  padding: 3px;
  @media screen and (min-width: $break-small) {
    padding: 10px;
  }
}

h1,h2 {
  margin: 10px 0;
}

code {
  background-color: #EEEEFF;
  padding: 1px 5px;
  margin: 0.2em;
  border-radius: 3px;
}

p {
  overflow-wrap: break-word;
  text-align: justify;
}

p a {
  word-break: break-all;
}
