body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

li {
  list-style-type: none;
}

pre {
  overflow-x: auto;
  background-color: #EAF2F7;
  padding: 10px;
}

