@import "variables";

.site-header {
  background-color: #CCBF95;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
}

.site-header-container {
  max-width: 1000px;
  margin: auto;
  padding: 0 5vw 25px;
}

.site-nav {
  display: flex;
  flex-direction: row-reverse;
}

.site-title {
  color: #FFFAE6;
  font-family: $title-font;
  font-size: 4em;
  text-align: center;
  margin: auto;
}

.site-subtitle {
  display: block;
  color: black;
  font-family: $subtitle-font;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.page-link {
  font-family: $button-font;
  padding: 10px 20px;
  text-align: center;
  min-width: 80px;
  font-size: 1.1em;
  border-radius: 4px;
  transition: all 0.5s;
}

.page-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.post-link {
  font-family: $title-font;
  font-size: 2em;
}

.post-meta {
  font-size: 1.2em;
  color: orange;
  font-family: $article-font;
}

.post-info {
  text-align: right;
  color: gray;
  font-family: $article-font;
}

.post-list {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  width: 350px;
  height: 350px;
  border: solid #CCBF95 3px;
  transition: all 0.5s;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.post-item:hover {
  border-color: orange;
  background: #eee;
}

