@import "variables";

.site-header {
  background-color: #CCBF95;
  width: 100vw;
  overflow-x: hidden;
  height: auto;
}

.site-header-container {
  max-width: 1000px;
  margin: auto;
  padding: 4px 10px 25px;
}

.site-nav {
  display: flex;
  flex-direction: row-reverse;
}

.site-title {
  color: #FFFAE6;
  font-family: $title-font;
  font-size: 4em;
  text-align: center;
  margin: auto;
}

.site-subtitle {
  display: block;
  color: black;
  font-family: $subtitle-font;
  font-size: 1.3em;
  font-weight: bold;
  text-align: center;
  margin: auto;
}

.page-link {
  font-family: $button-font;
  padding: 10px 20px;
  text-align: center;
  min-width: 80px;
  font-size: 1.1em;
  border-radius: 4px;
  transition: all 0.5s;
}

.page-link:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.post-link {
  font-family: $title-font;
  font-size: 2em;
}

.post-meta {
  font-size: 1.2em;
  color: orange;
  font-family: $article-font;
}

.post-info {
  text-align: right;
  color: gray;
  font-family: $article-font;
}

.post-list {
  max-width: 1200px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.post-item {
  width: 350px;
  height: 350px;
  border: solid #CCBF95 3px;
  transition: all 0.5s;
  margin: 10px;
  padding: 10px;
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  cursor: pointer;
}

.post-item:hover {
  border-color: orange;
  background: #eee;
  transform: scale(1.03);
}

.site-footer {
  background-color: #CCBF95;
  width: 100vw;
}

.footer-heading {
  font-family: $title-font;
  font-size: 2em;
}

.site-footer .wrapper {
  display: block;
  max-width: 1200px;
  margin: auto;
  padding: 5px 5vw;
}

.footer-col-wrapper {
  display: flex;
  flex-direction: column;

  @media screen and (min-width: $break-small) {
    flex-direction: row;
  }
}

.footer-col {
  font-family: $article-font;
  margin: 5px 0;

  @media screen and (min-width: $break-small) {
    width: 33.3%;
    flex-direction: row;
  }
}

.footer-col a:hover {
  text-decoration: underline;
}

.site-footer ul {
  list-style-type: none;
  padding: 0;
  margin: 1em;
}

.site-footer li {
  list-style-type: none;
}

.site-bottom-line {
  background-color: #867067;
  height: 10px;
}

.page-content {
  background: #F5F1ED;
  padding: 2vw;
  display: flex;
  flex-direction: row;
}

.content-side-left {
  flex: 1 1 0;
}
.content-side-right {
  flex: 1 1 0;
}

.content-wrapper {
  margin: auto;
  padding: 2vh 2vw;
  background: white;
  width: 95%;
  max-width: 700px;
}

.content-wrapper img {
  max-width: 100%;
}

.content-wrapper a {
  text-decoration: underline;
  color: darkred;
}

.toc a {
  color: darkred;
  white-space: nowrap;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
}

.toc a:hover {
  text-decoration: underline;
}

.toc {
  display: none;
  background-color: white;
  margin: 0 10px;
  padding: 5px 10px;
  position: sticky;
  top: 10px;
  min-width: 250px;
  max-width: 300px;
  font-family: $article-font;

  @media screen and (min-width: $break-large) {
    display: inline-block;
  }
}
