@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Merriweather|Open+Sans|Oswald|Orbitron|Roboto');

$title-font: 'Oswald', sans-serif;
$subtitle-font: 'Orbitron', sans-serif;
$article-font: Merriweather, Open sans, Helvetica, Arila;
$button-font: Roboto, sans-serif;

@import
"plainy/layout",
"plainy/base"
;
